// COLORS - THEME
$color-primary: #bcd871;
$color-primary-dark: #97ad5a;
$color-primary-light: #cfef7f;

// COLORS - BLACK
$color-black: #222222;
$color-gray: #707070;

// COLORS - WHITES
$color-white: #ffffff;
$color-background: #fafafa;
