.gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  //   justify-content: center;
  overflow: hidden;
  width: 100%;
  min-height: 300px;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.active {
  animation: slideIn 0.5s linear 1 forwards;
}
.inactive {
  animation: slideOut 0.5s linear 1 forwards;
}

.gallery-nav {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 3rem 0;
  }
}
